.category-container {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 400px;

    .category-image {
        width: 400px;
        height: 400px;
    }

    .category-text {
        color: blueviolet;
        position: absolute;
        text-align: center;
        font-weight: bold;
        margin: 5px 0;
        font-size: 1.5rem;

    }

    .category-btn {
        position: absolute;
        margin-top: 100px;
    }
}

@media screen and (max-width:768px) {
    .category-image {
        width: 50px;
        height: 50px;
    }
}